# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_APP_DOWNLOAD_URL=https://install.aella.app

# Contact
NEXT_PUBLIC_SUPPORT_EMAIL=support@aellacredit.com
NEXT_PUBLIC_INFO_EMAIL=info@aellamfb.com
